:root {
  --clr-bg: #f6f2f0;
  --clr-secondary: white;
  --fs-h1: clamp(1.25rem, 1.25vw + 1rem, 2.125rem);
  --ff-primary: "Playfair Display", serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  margin: 0;
}

main {
  min-height: calc(100vh - 137px);
}
h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}
.shop-css-style {
  font-size: 2rem;
  padding-left: 5px;
  cursor: pointer;
}
.nav-bar-container {
  display: flex;
  align-items: center;
}
.span-header{
  font-family: var(--ff-primary);
  padding-left: 5px;
  cursor: pointer;
}
.a-main-container {
  margin-left: auto;
}
.a-nav {
  font-family: var(--ff-primary);
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
.a-nav:hover {
  text-decoration: underline;
}
.a-nav-first {
  padding-right: 1.3rem;
}
.a-nav-second {
  padding-right: 0.5rem;
}
.Library-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.add-button-container {
  margin-bottom: 1rem;
}
#add-book-button {
  padding: 0.8rem 1.2rem;
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--clr-bg);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
#add-book-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(0);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 20px;
  background-color: var(--clr-secondary);
  padding-bottom: 25px;
}

/* form children */
form > * {
  margin: 0.5rem;
  padding-left: 5px;
  font-family: var(--ff-primary);
  font-weight: bold;
}
.x-css-style {
  position: absolute;
  top: 3px;
  right: 9px;
  font-size: 1.3rem;
  cursor: pointer;
}
.x-css-style:hover {
  color: red;
}
.header-form-style {
  font-family: var(--ff-primary);
  font-weight: 900;
}
#submit-form-input {
  background-color: #43936f;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0.2rem;
  text-transform: capitalize;
  border: none;
}
#submit-form-input:hover {
  background-color: #51bc8c;
}
.read-button {
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background-color: green;
}
.main-book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  border: none;
  background-color: var(--clr-bg);
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  max-width: 250px;
  padding: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  font-family: var(--ff-primary);
  font-weight: bold;
  margin: 0.5rem;
  transition: box-shadow 0.3s ease;
}
.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.remove-card-button {
  margin-top: 5px;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background-color: rgb(227, 6, 6);
}
.remove-card-button:hover {
  background-color: rgb(255, 3, 3);
}
footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-a {
  font-family: var(--ff-primary);
  font-size: clamp(1rem, 0.571vw + 0.886rem, 1.4rem);
}
.github-css-style {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.github-css-style {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
